<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>MVC!</title>
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/bugers.js"></script>


	</head>
<body>
	<img src="assets/img/burger.png" alt="burger" width="250" height="250" class='img'>
		<h1>Eat-Da-Burger!</h1>
		{{{ body }}}
</body>
</html>