<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->


<ul>
  {{#each burgers}}
    <li>
      <p>id: {{id}}</p>
      <p>burger_name: {{burger_name}}</p>
      <p>devoured: {{devoured}}</p>
    </li>
  {{/each}}
</ul>

<div style="margin:0 auto;width:50%;text-align:center">

<form class="create-form">

  <div class="form-group">
    <textarea type="text" id="ca" name="name" rows="3" cols="40"></textarea>
  </div>

  <div class="form-group">
    <label for="sleepy"></label><br>
  </div>

  <button class="button" type="Submit">Submit</button>

</form>

</div>



<h4>Enter a burger you want to eat, Click the "Submit" button.</h4>