<!-- 5. Output the Burger string, boolean for devoured -->


{{!-- <ol style="list-style: none;">
  {{#each burgers}}
    <li>
      <p>{{id}} {{burger_name}} Burger</p>
      <span>
      <p>Devour It!: {{devoured}}</p>
      </span>
    </li>
  {{/each}}
</ol> --}}
<br>
	<div class="container">
{{!-- <ol style="list-style: none;"> --}}
  {{#each burgers}}

      <div class="row">
        <div class="col-6 col-md-4"><span class="d-block p-2 alert alert-light ">{{burger_name}}</span></div>
        <div class="col-6 col-md-2"><button type="button" class="btn btn-primary">Devour It!</button></div>
        <div class="col-6 col-md-4"><span class="d-block p-2 alert alert-light">Not Devoured</span></div>
      </div>
  
  {{/each}}
</div>
<br>


<div style="margin:0 auto;width:50%;text-align:center">

<form class="create-form">

  <div class="form-group">
    <textarea type="text" id="ca" name="name" rows="3" cols="40"></textarea>
  </div>

  <div class="form-group">
    <label for="sleepy"></label><br>
  </div>

  <button class="button" type="Submit">Submit</button>

</form>

</div>


<br>
<h4>Enter a burger you want to eat, Click the "Submit" button.</h4>