<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->
<h1>Burger</h1>
<h1>{{testName}}</h1>



<ul>
  {{#each burgers}}
    <li>
      <p>id: {{id}}</p>
      <p>burger_name: {{burger_name}}</p>
      <p>devoured: {{devoured}}</p>
    </li>
  {{/each}}
</ul>